<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

html.
	<head>
		<title>RPS Learner v.1.2</title>
		<script type="text/javascript" src="../../Page.js"></script>
		<!-- Debug: include all scripts manually -->
		<script type="text/javascript" src="../../Diag.js"></script>
		<script type="text/javascript" src="../../Map.js"></script>
		<script type="text/javascript" src="../../Entry.js"></script>
		<script type="text/javascript" src="../../State%20Learner/StateLine.js"></script>
		<script type="text/javascript" src="../../State%20Learner/StateLearner.js"></script>
		<script type="text/javascript" src="../../State%20Learner/PredictionData.js"></script>
		<script type="text/javascript" src="../../IncidenceMap.js"></script>
		<script type="text/javascript" src="../../ArrayMap.js"></script>
		<!---/debug -->
		<style type="text/css">
			body
			{
				margin:0px;
				padding:0px;
				text-align:center;
				font-size:16px;
			}
			
			#centeredBlock
			{
				width:750px;
				text-align:left;
				margin:0px auto;
			}
			
			p
			{
				text-indent:30px;
			}
			
			#rPSTable
			{
				float:left;
				margin-right:40px;
				border-spacing:3px;
			}
			
			td
			{
				padding:4px;
				height:30px;
				text-align:center;
			}
			
			.indexColumn
			{
				width:150px;
			}
			
			.stateColumn
			{
				width:50px;
			}
			
			.button
			{
				background-color:#EEF5F5;
				border:solid 1px black;
				padding:0px;
				-moz-border-radius:7px;
				cursor:pointer;
				font-size:25px;
			}
			
			.button:hover
			{
				background-color:#CFC;
			}
			
			.humanSelect, .aISelect, .bothSelect
			{
				display:block;
				margin:auto;
				width:30px;
				height:30px;
				text-align:center;
			}
			
			.humanSelect
			{
				opacity:0.5;
				background-color:red;
			}
			
			.aISelect
			{
				opacity:0.5;
				background-color:blue;
			}
			
			.bothSelect
			{
				background-color:purple;
			}
			
			#statistics td
			{
				text-align:left;
				font-size:18px;
			}
			
			#aIAccuracy, #aIGain, #normalizedGain
			{
				font-size:20px;
				font-family:monospace;
			}
		</style>
	</head>
	<body>
		<b>Rock, Paper, Scissors Learner:</b><br />
		an AI opponent that plays and gets better through practice. <a href="AboutRPSLearner.html">More information...</a><br />
		<div id="centeredBlock">
			<p><b>Note:</b> The computer's predictions are just that: <i>predictions</i> of your next choice. If the computer were actually choosing its own moves, as you are, it would just choose the move that would beat its prediction. In this demonstration, the computer's predictions are just left at predictions so that it's easier to see when it wins (whenever your choice and its prediction overlap, which is purple in the history.)</p>
			
			<div>
				<table id="rPSTable">
					<thead>
						<tr>
							<td class="indexColumn"></td>
							<td class="stateColumn">Rock</td>
							<td class="stateColumn">Paper</td>
							<td class="stateColumn">Scissors</td>
						</tr>
					</thead>
					<tbody id="tableBody">
						<tr>
							<td><span class="humanSelect" style="float:left; width:1em; height:1em;"></span>Your choice</td>
							<td class="button" onclick="selectRock()">&#x235C;<!-- alternative button labels: Rock &#x25EF; &#x235C; &#x2296; &#x2295; &#x2297; &#x20DD; --></td>
							<td class="button" onclick="selectPaper()">&#x2395;<!-- alternative button labels: Paper --></td>
							<td class="button" onclick="selectScissors()">&#x2704;<!-- alternative button labels: Scissors &#x2703; --></td>
						</tr>
						<tr>
							<td><span class="aISelect" style="float:left; width:1em; height:1em;"></span>AI's prediction</td>
							<td><div id="rockGuess"></div></td>
							<td><div id="paperGuess"></div></td>
							<td><div id="scissorsGuess"></div></td>
						</tr>
						<tr>
							<td></td>
						</tr>
						<tr>
							<td>History:</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				
				<!-- options section -->
				<input id="guessVisible" name="guessVisible" type="checkbox" onclick="enforcePredictionVisibility()" />AI Prediction visible<br />
				Recall limit: <input id="recall" name="recall" type="text" onblur="enforceRecall()" value="Infinity" style="font-size:18px;width:5em;font-family:monospace;"><br />
				<br />
				<hr />
				<br />
				
				<table id="statistics">
					<tbody>
						<tr>
							<td>AI Accuracy:</td>	<td><span id="aIAccuracy"></span></td>
						</tr>
						<tr>
							<td>Gain from AI:</td>	<td><span id="aIGain"></span></td>
						</tr>
						<tr>
							<td>Normalized:</td>	<td><span id="normalizedGain"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<br />
			<br />
			<br />
			<br />
		</div>
	</body>